<!DOCTYPE html>
<script>
        document.addEventListener("contextmenu", function(e) {
            e.preventDefault();
        });

        document.addEventListener("keydown", function(e) {
            if (e.key === "F12") {
                e.preventDefault();
            }
        });

        document.addEventListener("copy", function(e) {
            e.preventDefault();
        });
    </script>
<meta name="description" content="我们是「天彬TianBIN」的制作团队!文天玩WenTianPlay创始人：苏天彬(本名:李文飞,2008年2月29日,湖北天门人,持股57%)、梦雕(本名:罗鼎洋,2006年3月31日,湖北荆州人,持股22%)、小皓(本名:洪文皓,2008年2月9日,湖北武汉人,持股21%)。【重要通知】关于我们的官方域名-2026年6月6日公示链接：https://mp.weixin.qq.com/s/GHPbKc7oHf6NkxRplnsqzg"/>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="文天玩,文天玩WenTianPlay,WenTianPlay,WenTianWan,WenTianPlays,WenTianYo,WenTianYou"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>文天玩WenTianPlay | 导航网站🐍</title>
</head>
<body>
    <div id="app">
        <div class="left-nav">
            <div class="head-image" :style="{backgroundImage:'url('+settings.headImage+')'}"></div>
        </div>
        <div class="main-container">
            <div class="center-container">
                <div class="search-box" v-if="settings.searchEngine">
                    <div class="advice_box" v-if="advices.length>0">
                        <div :class="index === advice_selected?'selected':''" class="advice_item" @mouseenter="advice_selected = index" v-for="advice,index in advices" @click="advice_clicked(index)">
                            {{advice}}</div>
                    </div>
                    <div :class="show_engine_box?'show':'hide'" class="engine-box" @blur='hideEngineBox(30)' tabindex="0" hidefocus="true" v-show="show_engine_box === true">
                        <div class="engine" v-for="engine,id in getEngines()" @click="settings.searchEngine.selected = id;hideEngineBox()">
                            <div class="icon" :style="{backgroundImage:'url('+engine.icon+')',backgroundColor:engine.mainColor}"></div>
                            <div class="name" >{{engine.name}}</div>
                        </div>
                        <div class="engine not_show" v-for="i in 4"></div>
                    </div>
                    <div class="search-engins" :style="{backgroundColor:getSelectedEngine().mainColor}"
                        @click="show_engine_box?hideEngineBox():showEngineBox()">
                        <div class="selected-icon" :style="{backgroundImage:'url('+getSelectedEngine().icon+')'}"></div>
                        <div class="engine-name" :style="{color:getSelectedEngine().textColor}">
                            {{getSelectedEngine().name}}</div>
                        <div class="show-more"></div>
                    </div>
                    <input id="search-input" autocomplete="off" onkeydown="return input_keydown(event)"  oninput="showAdvice()" />
                    <div class="search-btn" @click="search()"></div>
                </div>
                <div class="sites-container">
                    <div class="second-kind" v-for="kind_val,kind_name,_ in sitesData">
                        <div class="kind-name">
                            <div class="icon" :style="{backgroundImage:'url('+kind_val.icon+')'}"></div>
                            <div class="name">{{kind_name}}</div>
                        </div>
                        <div class="sites-box">
                            <div @click="open(site_val.url)" class="site-box" v-for="site_val in kind_val.data">
                                <div class="icon" :data-original="site_val.icon">
                                </div>
                                <div class="info">
                                    <div class="name">{{site_val.name}}</div>
                                    <div class="describe">{{site_val.describe}}</div>
                                </div>
                            </div>
                            <div class="site-box not_show" v-for="i in 10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="./js/vue3.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.lazyload.min.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/index.js"></script>
</footer>
<style type="text/css">    
    #bottom-outer {
        color: #888;
        text-align: center;
        padding: 16px;
        padding-top: 24px;
        background-color: #fff;
        font-size: 18px;
        opacity:0.89;
     }
   </style>
  </head>
 </body>
</html>